<section>
    <div class="imgbox">
        <a href="https://freeimage.host/i/sFlreS"><img src="https://iili.io/sFlreS.md.jpg" alt="sFlreS.md.jpg" border="0"></a>
    </div>
    <div class="contentbox">
        <div class="divallign">
            <p> Haveing Trouble? <span style="font-weight: bold;">Get Help</span></p>&nbsp;
            <div class="lang-menu">
                <div class="selected-lang">
                    English
                </div>
                <ul>
                    <li>
                        <a href="#" class="de">German</a>
                    </li>
                    <li>
                        <a href="" class="en">English</a>
                    </li>
                    <li>
                        <a href="" class="fr">French</a>
                    </li>
                    <li>
                        <a href="" class="ar">Arabic</a>
                    </li>
                </ul>

            </div>
        </div>
        <h1>Login to Budget</h1>
        <h6>Lorem ipsum dolor sit, amet consectetur adipisicing</h6>
        <div class="loginDiv">
            <form>
                <div class="form-row">
                    <div class="col-lg-7">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-7">
                        <input type="password" class="form-control" placeholder="***********">
                    </div>
                </div>
                <input id="checkBx" type="checkbox"><span>Keep me logged in</span><span id="forgottext">Forgot
                    password</span><br>
                <a routerLink="dashboard"><button class="btn btn-primary btn-lg">Login</button><br></a>
                <span id="CreateActTxt">Create New Account </span>
            </form>
        </div>


    </div>
</section>