<div class="container">
    <nav>
        <ul>
            <li>
                <div>
                    <h1>Budget</h1>
                </div>
            </li>
            <li id="liItmOne">
                <a class="dashtxt" href="#">
                    <i class="fa-solid fa-bars">&nbsp;&nbsp;</i><span id="">Dashboard</span>
                </a>
            </li>
            <li id="liItmTwo">
                <div class="accountRef">
                    <span><img src="https://iili.io/sFlreS.md.jpg" alt=""></span>
                    <h6 style="margin-top: 5px;">Catherine <br>
                        <p style="color: rgb(120, 120, 126);">+919845678952</p>
                    </h6>

                </div>
            </li>
            <li id="logoutLi">
                <div>
                    <a href=""><i class="fa-solid fa-right-from-bracket"></i><span>Log Out</span></a>
                </div>
            </li>
        </ul>
    </nav>
    <hr style="height: 80%; width: 5px;">

    <section class="main">

        <div class="main-top">
           <a href=""> <h3 style="margin-left: 4px;">Dashboard</h3></a>
        </div>
        <div>
            <span style="color: rgb(152, 154, 156); margin: 5px;">Lorem ipsum dolor sit amet consecte</span>
        </div>
        <div class="info"><i style="color: orange;margin-right: 4px;" class="fa-solid fa-circle-info"></i><span>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            <a style="text-decoration: underline;font-weight: bold;" href="#">View</a></span></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6 class="tagOne">total users</h6>
                    <h3 class="tagTwo">1526</h3>
                    <span class="tagThree">2.36%</span><span class="tagFour">since last month</span>
                </div>
                <div style="background-color: rgb(50, 102, 50);" class="col">
                    <h6 class="tagOne">total users</h6>
                    <h3 class="tagTwo">1526</h3>
                    <span class="tagThree">2.36%</span><span class="tagFour">since last month</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6 class="tagOne">total users</h6>
                    <h3 class="tagTwo">1526</h3>
                    <span class="tagThree">2.36%</span><span class="tagFour">since last month</span>
                </div>
                <div style="background-color: rgb(50, 102, 50);" class="col">
                    <h6 class="tagOne">total users</h6>
                    <h3 class="tagTwo">1526</h3>
                    <span class="tagThree">2.36%....</span><span class="tagFour">since last month</span>
                </div>

            </div>
        </div>
        <div style="text-align: center;">
            <h3 style="float: left;">Recently Active Users</h3>
            <table class="table">
                <thead class="thead-light thead-light">
                    <tr style="background-color: rgb(243, 243, 243);">
                        <th scope="col">USER ID/NAME</th>
                        <th scope="col">PHONE NUMBER</th>
                        <th scope="col">TRANSATION CATOGORY</th>
                        <th scope="col">TRANSATION AMOUNT</th>
                        <th scope="col">ACCOUNT TYPE </th>
                        <th scope="col">BALANCE AMOUNT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            <DIV>MONICA JAMES</DIV>
                            <DIV>ID 446546
                            </DIV>
                        </td>
                        <td>9123456465
                        </td>
                        <td>
                            <DIV>Income</DIV>
                            <div>salary</div>
                        </td>
                        <td>$200</td>
                        <td>Saveing</td>
                        <td>$20000</td>


                    </tr>
                    <tr>
                        <td scope="row">
                            <DIV>MONICA JAMES</DIV>
                            <DIV>ID 446546
                            </DIV>
                        </td>
                        <td>9123456465
                        </td>
                        <td>
                            <DIV>Income</DIV>
                            <div>salary</div>
                        </td>
                        <td>$200</td>
                        <td>Saveing</td>
                        <td>$20000</td>


                    </tr>
                    <tr>
                        <td scope="row">
                            <DIV>MONICA JAMES</DIV>
                            <DIV>ID 446546
                            </DIV>
                        </td>
                        <td>9123456465
                        </td>
                        <td>
                            <DIV>Income</DIV>
                            <div>salary</div>
                        </td>
                        <td>$200</td>
                        <td>Saveing</td>
                        <td>$20000</td>


                    </tr>
                    <tr>
                        <td scope="row">
                            <DIV>MONICA JAMES</DIV>
                            <DIV>ID 446546
                            </DIV>
                        </td>
                        <td>9123456465
                        </td>
                        <td>
                            <DIV>Income</DIV>
                            <div>salary</div>
                        </td>
                        <td>$200</td>
                        <td>Saveing</td>
                        <td>$20000</td>


                    </tr>
                </tbody>
            </table>
            <button id="btn">View All</button>

        </div>


    </section>
</div>